* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* INIZIO HEADER */

.fascia-header {
    width: 100%;
    background-color: white;
}

.container-header {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

header img {
    padding: 10px;
    line-height: 50px;
    float: left;
}

.navbar{
    line-height: 50px;
    float: right;
}

.navbar li {
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;
}

.navbar  li a {
    text-decoration: none;
    color: #33475b;
}
/*FINE HEADER*/

/* INIZIO BANNER BLU */
.fascia-banner {
    width: 100%;
    background-color: #425b76;
}

.container-banner {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.testo-banner {
    float:left;
    width: 80%;
    font-size: 15px;
    font-family: sans-serif;
    color: #ffffff;
}

.banner button{
    float:right;
    background-color: white;
    border-radius: 5%;
    border:none;
    padding: 10px;
    color: #425b76;
    font-weight: bold;
}
/* FINE BANNER BLU */
