* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* INIZIO HEADER */

.fascia-header {
    width: 100%;
    background-color: white;
}

.container-header {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

header img {
    padding: 10px;
    line-height: 50px;
    float: left;
}

.navbar{
    line-height: 50px;
    float: right;
}

.navbar li {
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;
}

.navbar  li a {
    text-decoration: none;
    color: #33475b;
}
/*FINE HEADER*/

/* INIZIO BANNER BLU */
.fascia-banner {
    width: 100%;
    background-color: #425b76;
}

.container-banner {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.testo-banner {
    float:left;
    width: 80%;
    font-size: 15px;
    font-family: sans-serif;
    color: #ffffff;
    margin-left: 20px;
}

.banner button{
    float:right;
    background-color: white;
    border-radius: 5%;
    border:none;
    padding: 10px;
    color: #425b76;
    font-weight: bold;
}

.banner button:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
/* FINE BANNER BLU */

/* INIZIO CORPO ROSA */
.fascia-corpo {
    width: 100%;
    background-color: #fff2ee;
}
.container-corpo {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.testo-corpo {
    width: 35%;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
}

.titolo-corpo h1 {
    font-family: sans-serif;
    font-size: 40px;
    margin-top: 20px;
    color: #33475b;
}

.titolo-corpo p {
    margin-top: 15px;
    font-family: sans-serif;
    color: #3f475b;
}

.titolo-corpo button {
    margin-top: 15px;
    border-radius: 4px;
    border:none;
    padding: 25px;
    background-color: #ff7a59;
    font-weight: bold;
    font-size: 15px;
    color: #fff6f4;
}

.titolo-corpo button:hover {
    background-color: rgba(255, 165, 0, 0.3);
    cursor: pointer;
}

.titolo-corpo h4 {
    margin-top: 15px;
    margin-bottom: 120px;
    font-size: 12px;
    font-family: sans-serif;
    color: #3f475b;
}
/* FINE CORPO ROSA */

/* RIGA VERDE */
.riga-verde {
    width: 100%;
    height: 80px;
    background-color: #afebe4;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
}
/* FINE RIGA VERDE */

/* INIZIO RIGA CONTENUTO */
.fascia-contenuto {
    width: 100%;
    background-color: #f5f8fa;
}

.container-contenuto {
    width: 80%;
    margin: 0 auto;
}

.contenuto {
    width: 70%;
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
    font-weight: bold;
}

.immagine-contenuto {
    margin: 0 auto;
}

.titolo-contenuto {
    width: 80%;
    margin: 0 auto;
}

.contenuto h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: #33475b;
    margin-top: 20px;
}

.testo-contenuto p {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    font-family: sans-serif;
    color: #3f475b;
}

/* FINE RIGA CONTENUTO */

/* INIZIO CARD ORIZZONTALE */
.fascia-card-orizz {
    width: 100%;
    background-color: #f5f8fa;
}

.container-card-orizz {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    /* elimina */
    height: 320px;

}

.card-orizz {
    border-radius: 7px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 280px;
    background-color: #ffffff;
    margin: 15px auto;
}

.immagine-bottone {
    position: relative;
    float: left;
    width: 25%;
    height: 240px;
    padding: 5px;
}

.immagine-bottone img  {
    margin-left: 25px;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
}

.btn button {
    margin-top: 5px;
    border-radius: 4px;
    border:none;
    padding: 15px;
    background-color: #ff7a59;
    font-weight: bold;
    font-size: 12px;
    color: #fff6f4;
}


.testo-card-orizz {
    font-family: sans-serif;
    color: #3f475b;
    float: right;
    width: 65%;
    padding: 10px;
}

.testo-card-orizz p, h4{
    margin-bottom: 20px;
}

.testo-card-orizz h4 {
    font-size: 22px;
}

.Everything {
    font-size: 14px;
}

.popular {
    font-weight: bold;
}

.testo-card-orizz ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 25px;
}

.point {
    margin-right: 10px;
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #ff7a59;
}


.list {
    float: left;
}
